
Library/

Logs/

Temp/

UniRx.csproj

UniRx.Examples.csproj

UniTask.Addressables.csproj

UniTask.csproj

UniTask.DOTween.csproj

UniTask.Editor.csproj

UniTask.Linq.csproj

UniTask.TextMeshPro.csproj

VContainer.csproj

VContainer.Editor.csproj

obj/

UserSettings/

.vs/

.vsconfig

*.sln

*.csproj

Assets/Resources/a.png.meta

Assets/Resources/BillingMode.json

Assets/Resources/BillingMode.json.meta

Assets/Resources/n.png.meta

ProjectSettings/
